:root {
  --background: #f0f0f0ff;
  --text-color: #111111ff;
  --card-background: #ffffffff;
  --card-border: #ddddddff;
  --evt-remove: #a0161650;
  --evt-remove-hover: #a01616ff;
  --special-color: #007affff;
  --inner-background: #0000004d;
  --modal-background: #ffffffff;
  --inputs-background: #e0e0e0ff;
  --inputs-background-hover: #d0d0d0ff;
  --text-important: #ff3b30ff;
  --header-background: #ffffffcc;
  --evt-select: #e0e0e0ff;
  --evt-select-hover: #007bff50;
  --evt-select-active: #007affff;
  --settings-icon: url('../textures/light/setting.png');
  --settings-icon-hover: url('../textures/light/setting_filled.png');
  --info-icon: url('../textures/light/info.png');
  --info-icon-hover: url('../textures/light/info_filled.png');
}
[data-theme="dark"] {
  --background: #0b0b0bff;
  --text-color: #ffffffff;
  --card-background: #141414ff;
  --card-border: #333333ff;
  --evt-remove: #a0161650;
  --evt-remove-hover: #a01616ff;
  --special-color: #4fa4ffff;
  --inner-background: #000000b3;
  --modal-background: #111111ff;
  --inputs-background: #222222ff;
  --inputs-background-hover: #333333ff;
  --text-important: #ff4f4fff;
  --header-background: #1a1a1aff;
  --evt-select: #333333ff;
  --evt-select-hover: #007bff50;
  --evt-select-active: #007affff;
  --settings-icon: url('../textures/dark/setting.png');
  --settings-icon-hover: url('../textures/dark/setting_filled.png');
  --info-icon: url('../textures/dark/info.png');
  --info-icon-hover: url('../textures/dark/info_filled.png');
}