.modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: var(--inner-background);
  z-index: 2;
}
.modal-content {
  background-color: var(--modal-background);
  padding: 20px;
  width: 80%;
  margin: 10% auto;
  border-radius: 10px;
}
input, textarea, button {
  width: calc(100% - 16px);
  margin: 6px 0;
  padding: 8px;
  background-color: var(--inputs-background);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
}
input:hover, textarea:hover, button:hover,
input:focus, textarea:focus, button:focus {
  background-color: var(--inputs-background-hover);
}
button, button:hover, button:focus {
  cursor: pointer;
  width: 100%;
}
#eventDate {
  width: calc(100% - 96px);
}
span {
  color: var(--text-important);
  padding: 0px 5px;
}
#openModal {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  padding: 0;
  background-color: var(--special-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.button-bg {
  background-color: var(--modal-background);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#openModal .plus-sign {
  position: absolute;
}
#openModal:hover .plus-sign {
  transform: rotate(90deg);
}
#infouse {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 100%;
  font-size: 20px;
  background-color: var(--modal-background);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--card-border);
}
#infouse:hover {
  background-color: var(--inputs-background-hover);
}