:root {
  --background: #0b0b0bff;
  --text-color: #ffffffff;
  --card-background: #141414ff;
  --card-border: #333333ff;
  --evt-remove: #5a0f0fff;
  --evt-remove-hover: #a01616ff;
  --special-color: #4fa4ffff;
  --inner-background: #000000b3;
  --modal-background: #111111ff;
  --inputs-background: #222222ff;
  --inputs-background-hover: #333333ff;
  --text-important: #ff4f4fff;
}